[submodule "The Unity Projects/workingUnity/Assets/ArtisanDream.Tools"]
	path = The Unity Projects/workingUnity/Assets/ArtisanDream.Tools
	url = https://github.com/anthonyromrell/ArtisanDream.Tools
[submodule "The Unity Projects/workingUnity/Assets/Assets/tools"]
	path = The Unity Projects/workingUnity/Assets/Assets/tools
	url = https://github.com/anthonyromrell/ArtisanDream.Tools.git
